.spinner {
    position: fixed;
    left: 50%;
    margin: 2rem auto;
    width: 32px;
    height: 32px;
    border-top: 4px solid #ccc;
    border-top-color: #333;
    border-radius: 50%;
    animation: spin 0.6s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  